<!DOCTYPE html>
<html>
  <head>
    <title>{{ appName }}</title>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body >
		<script >
		var mg = {
			defaults: {
				debug: {{debug}}
			}
		}
		</script>
		{{> body }}
  </body>
</html>